.message{class: "cont-#{message.user_id}"}
  .message-box{class: "msg-#{message.user_id}", data: {time: "#{message.created_at.strftime("%d-%m-%Yr. %H:%M")}" }}
    - unless message.room.is_private
      %h6.name=message.user.email
    =message.body